# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Compiled output
dist/

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 