# Excluir directorios de desarrollo
src/
tests/
coverage/

# Excluir archivos de código fuente y debugging
*.ts
!*.d.ts
*.map
dist/*.map
*.tsbuildinfo
dist/*.js
dist/core/*
!dist/*.min.js
!dist/*.d.ts

src/test/*

# Excluir archivos de configuración
*.log
.prettierrc
.eslintrc*
rollup.config.js
rollup.config.cjs
tsconfig.json
jest.config.js

# Excluir archivos de control de versiones
.git/
.gitignore

# Excluir archivos de entorno
.env
.env.*

# Excluir archivos de IDEs
.idea/
.vscode/

# Excluir otros archivos innecesarios
.DS_Store
thumbs.db
*.md
!README.md
!LICENSE.md